body{
    margin: 0px; 
}

header{
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    margin: auto;
}

.acka{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
    font-size: 30px;
}

body{
    background-image: url(/Foto/background1.png);  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.logo{
    width: 70px;
    height: 70px;
    margin: 0px;
}

a{
    display: flex;
    border-radius: 3px;
    color: rgb(245, 245, 245);
    text-decoration: none;
    padding-right: 20px;
}

#dis{
    line-height: 10px;
    font-size: 30px;
}

a:hover, a:active {
    color: rgb(145, 229, 255);
}

img{
    width: 70px;
    height: 70px;
}

svg{
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

.container{
    max-width: 1600px;
}

.card_CZ{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 10px;
}

.container{
    margin-left: 20px;
    margin-top: 20px;
}

h3{
    color: aliceblue;
    margin: 10px 5px;
}

h2{
    color: aliceblue;
    margin: 10px 5px;
}

p{
    color: aliceblue;
    margin: 10px 5px;
}

ul{
    padding: 0;
    margin: 10px 20px;
}

.line{
    text-decoration: underline;
}

.spec{
    display: flex;
}

.spec p{
    font-weight: bold;
}

.footer-container{
    margin-top: 220px;
    background-color: rgba(0, 0, 0, 0.63);
}
.footer-acka{
    display: flex;
    justify-content: center;
}

.propagace{
    display: flex;
    margin-bottom: 0;
    justify-content: right;
    margin-right: 20px;
    font-size: 25px;
}

.dis{
    line-height: 45px;
    font-size: 30px;
}