body{
    margin: 0px; 
}

header{
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: space-between;
}

.acka{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
    font-size: 30px;
}

#dis{
    line-height: 10px;
    font-size: 30px;
    margin-bottom: 0px;
}

body{
    background-image: url(/Foto/background3.png);  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a{
    display: flex;
    border-radius: 3px;
    color: rgb(245, 245, 245);
    text-decoration: none;
    padding-right: 20px;
}

a:hover, a:active {
    color: rgb(145, 229, 255);
}

img{
    width: 70px;
    height: 70px;
}

p{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-shadow: 2px 2px black;
    padding-left: 10px;
}

h1{
    color: rgb(255, 179, 16);
    text-shadow: 2px 2px black;
    text-decoration: underline;
}

.main{
    padding-left: 10px;
}

svg{
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

.nadpis{
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 30px;
}

.container-card{
    display: flex;
    justify-content: space-between;
}

.container-card-DEVGRU{
    display: flex;
    flex-direction: column;
    width: max-content;
}

.container-card-USAF{
    display: flex;
    flex-direction: column;
    width: max-content;
}

.container-card-ZEUS{
    display: flex;
    flex-direction: column;
    width: max-content;
}

.card{
    display: flex;
    background-color: rgba(0, 0, 0, 0.733);
    width: max-content; 
    align-items: center;
    border-radius: 30px;
    margin: 15px;
    padding: 10px;
}
