
body{
    margin: 0px; 
}

header{
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: space-between;
}

.acka{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    font-size: 20px;
}

body{
    background-image: url(/background3.png);  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a{
    display: flex;
    border-radius: 3px;
    color: rgb(245, 245, 245);
    text-decoration: none;
}

a:hover, a:active {
    color: rgb(145, 229, 255);
}

img{
    width: 70px;
    height: 70px;
}

p{
    color: rgb(201, 201, 201);
    margin-bottom: 100px;
    font-size: 30px;
    text-shadow: 2px 2px black;
}

h1{
    color: rgb(201, 201, 201);
}

.main{
    padding-left: 10px;
}

.insignie{
    width: 120px;
    height: 120px;
    display: flex;
    margin-bottom: 15px;
}

ul{
    margin-right: 120px;
}

.popis_d{
    margin-left: 151px;
    position: absolute;
    top: 145px;
}

.USAF{
    position: absolute;
    right: 50%;
    top: 145px;
}

.popis_u{
    position: absolute;
    left: 145px;
    top: 10px;
    width: max-content;
}