body{
    margin: 0px; 
}

header{
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: space-between;
}

.acka{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    font-size: 20px;
}

body{
    background-image: url(/Foto/background2.png);  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a{
    display: flex;
    border-radius: 3px;
    color: rgb(245, 245, 245);
    text-decoration: none;
}

a:hover, a:active {
    color: rgb(145, 229, 255);
}

.logo{
    width: 70px;
    height: 70px;
}

.icon{
    display: flex; 
}

svg{
    transition: 0.2s ease-in-out;
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

h1{
    color: rgb(201, 201, 201);
}

.title{
    padding-left: 10px;
}

img{
    width: 920px;
    height: 600px;
    margin-left: 5px;
}

#PJ{
    width: 425px;
    height: 600px;
}

#les{
    width: 485px;
    height: 600px;
}
