
body{
    margin: 0px; 
}

header{
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: space-between;
}

.acka{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

body{
    background-image: url(/background2.png);  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a{
    display: flex;
    border-radius: 3px;
    color: rgb(245, 245, 245);
    text-decoration: none;
}

a:hover, a:active {
    color: rgb(145, 229, 255);
}

img{
    width: 70px;
    height: 70px;
}

footer{
    background-color: rgba(0, 0, 0, 0.603);
    height: 100px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.icon{
    display: flex; 
}

.cara{
    display: flex;
    justify-content:center ;
    margin: auto;
    gap: 30px;
    border-bottom: 2px solid white;
    max-width: 300px;
}

.lorem{
    display: flex;
    color: aliceblue;
    margin: 0px 300px;
}

svg:hover{
    fill: rgb(94, 90, 91);
}

svg{
    transition: 0.2s ease-in-out;
}

.footer-container{
    display: flex;
    justify-content: center;
    color: white;
}

h3{
    display: flex;
    justify-content: center;
}

li{
    list-style-type: none;
}

p{
    color: rgb(201, 201, 201);
}

h1{
    color: rgb(201, 201, 201);
}

.main{
    padding-left: 10px;
}