body{
    margin: 0px; 
}

header{
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: space-between;
}

.acka{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

body{
    background-image: url(/Foto/background1.png);  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a{
    display: flex;
    border-radius: 3px;
    color: rgb(245, 245, 245);
    text-decoration: none;
    font-size: 20px;
    padding-right: 20px;
}

a:hover, a:active {
    color: rgb(11, 73, 3);
}

img{
    width: 70px;
    height: 70px;
}

svg{
    transition: 0.2s ease-in-out;
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

p{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px black;
    font-size: 25px;
    line-height: 35px;
}

h1{
    color: rgb(255, 255, 255);
}

.CZ{
    margin-left: 20px;
    width: 700px;
}

.EN{
    width: 700px;
    position: absolute;
    right: 100px;
    top: 80px;
}

ul{
    padding: 0px;
}