body{
    margin: 0px; 
}

header{
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    margin: auto;
}

.acka{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
    font-size: 30px;
}

body{
    background-image: url(/Foto/background1.png);  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;;
}

.container{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 70px;
    height: 70px;
    margin: 0px;
}

a{
    display: flex;
    border-radius: 3px;
    color: rgb(245, 245, 245);
    text-decoration: none;
    padding-right: 20px;
}

#dis{
    line-height: 10px;
    font-size: 30px;
}

a:hover, a:active {
    color: rgb(145, 229, 255);
}

img{
    width: 70px;
    height: 70px;
}

svg{
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

p{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px black;
    font-size: 25px;
    line-height: 35px;
}

h1{
    color: rgb(255, 255, 255);
}

.CZ{

    padding-left: 20px;
    width: 700px;
    background-color: rgba(0, 0, 0, 0.63);
}

.EN{
    width: 700px;
    background-color: rgba(0, 0, 0, 0.63);
}

ul{
    padding: 0px;
}

.footer-container{
    background-color: rgba(0, 0, 0, 0.63);
}
.footer-acka{
    display: flex;
    justify-content: center;
}

.propagace{
    display: flex;
    margin-bottom: 0;
    justify-content: right;
    margin-right: 20px;
}

@media screen and (max-width: 1000px){
    .acka{
    font-size: 15px;
    padding: 0;
    }

    #dis{
    line-height: 7px;
    font-size: 15px;
    }

    svg{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    }

    a{
    display: flex;
    border-radius: 3px;
    color: rgb(245, 245, 245);
    text-decoration: none;
    padding-right: 0px;
    }

    .logo{
    width: 35px;
    height: 35px;
    }

    .container{
    display: block;
    width: 1000px;
    }

    p{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px black;
    line-height: 5vw;
    font-size:5vw;
    }

    h1{
    font-size:5vw;
    margin-top: 0;
    }

    .CZ{
    margin-left: 0;
    width: auto;
    border-radius: 0%;
    }

    .EN{

    width: auto;
    }
}