body{
    margin: 0px;
    background-image: url(/Foto/background2.png);  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    width: max-content;
}

.acka{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
    font-size: 30px;
}

#dis{
    line-height: 10px;
    font-size: 30px;
}

a{
    display: flex;
    border-radius: 3px;
    color: rgb(245, 245, 245);
    text-decoration: none;
    padding-right: 20px;
}

a:hover, a:active {
    color: rgb(145, 229, 255);
}

.logo{
    width: 70px;
    height: 70px;
    margin: 0px;
}

.icon{
    display: flex; 
}

svg{
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

h1{
    color: rgb(201, 201, 201);
}

img{
    width: 920px;
    height: 600px;
    margin-left: 5px;
}

#PJ{
    width: 425px;
    height: 600px;
}

#les{
    width: 485px;
    height: 600px;
}

@media screen and (max-width: 1000px){

    .body{
        width: 100%;
    }

    .header{
        margin: auto;
    }

    .acka{
        font-size: 15px;
        padding: 0;
        }
}